.row
  %article.blog-post
    .post-heading
      %h3
        Meus Estabelecimentos
        = link_to new_panel_restaurant_path, class: "btn btn-mini btn-theme favorite-menu" do
          %i.icon-plus-sign
          Novo Estabelecimento
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th
            %i.icon-picture
          %th Nome do Estabelecimento
          %th Recomendações
          %th Endereço
          %th.span2 Contato
          %th.span1 Opções
      %tbody
        = render @restaurants
