.row
  .span12
    %article.blog-post
      .post-heading
        %h3 Novo Estabelecimento
    = render "shared/error_messages", resource: @restaurant
    = form_for @restaurant, url: panel_restaurants_path, html: { id: "estabelecimentoform" } do |f|
      = render "form", f: f