#reset_password.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3#myModalLabel Recuperar Senha
  .modal-body
    %p Preencha todos os campos abaixo e efetue seu registro
    .row-registro
      %form.recupera-form.form-horizontal{action: "#", method: "post", name: "recupera-form"}
        .control-group
          %label.control-label{for: "inputEmail"}
            Email
            %span *
          .controls
            %input#inputEmail{placeholder: "Seu email", type: "text"}/
        .control-group
          .controls.submit
            %a.btn.btn-theme{href: "#"} Recuperar Senha
  .modal-footer
    %p
      Já possui uma conta?
      %a{"aria-hidden" => "true", "data-dismiss" => "modal", "data-toggle" => "modal", href: "#loginModal", role: "button"} Faça Login.