#sign_in.modal.hide.fade
  .modal-header
    %button.close{ data: { dismiss: "modal" } } ×
    %h3 Login
  .modal-body
    %p
      .text-center
        = link_to user_omniauth_authorize_path(:facebook), class: "btn btn-theme btn-large btn-social-network" do
          %i.icon-facebook-sign
          Entrar com o Facebook
      %br
      .text-center
        = link_to user_omniauth_authorize_path(:google_oauth2), class: "btn btn-theme btn-large btn-social-network" do
          %i.icon-google-plus-sign
          Entrar com o Google+
  .modal-footer
    %p
      Não usa redes sociais?
      = link_to "Entre com seu email", "#sign_in_email", data: { dismiss: "modal", toggle: "modal" }
      %br
      Não possui uma conta?
      = link_to "Registre-se", "#sign_up", data: { dismiss: "modal", toggle: "modal" }

