#sign_up.modal.hide.fade
  .modal-header
    %button.close{ data: { dismiss: "modal" } } ×
    %h3 Registro
  .modal-body
    %p
      .text-center
        = link_to user_omniauth_authorize_path(:facebook), class: "btn btn-theme btn-large btn-social-network" do
          %i.icon-facebook-sign
          Cadastrar com o Facebook
      %br
      .text-center
        = link_to user_omniauth_authorize_path(:google_oauth2), class: "btn btn-theme btn-large btn-social-network" do
          %i.icon-google-plus-sign
          Cadastrar com o Google+
  .modal-footer
    %p
      Não usa redes sociais?
      = link_to "Cadastre-se com seu email", "#sign_up_email", data: { dismiss: "modal", toggle: "modal" }
      %br
      Já possui uma conta?
      = link_to "Faça Login", "#sign_in", data: { dismiss: "modal", toggle: "modal" }