%strong Cidade:
= "#{restaurant.city.name} - #{restaurant.city.state.acronym}"
%br
%strong Total de Recomendações:
155
%br
%strong Prato Mais Recomendado:
Filé de Porco
%br
%strong Descrição:
= restaurant.description
